DJANGO_SETTINGS_MODULE=config.settings.dev
SECRET_KEY=change-me-dev-only
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://sdm:sdm@127.0.0.1:5433/sdm
MEDIA_ROOT=./media
ADMIN_URL=admin/
